:root {
    --dark: #211f1f;
    --light: #E9DDD4;
    --gold: #900020;
    --blue: #e9d4e0;
    --pink: #E9DDD4;
    --h-font: 'Quicksand', sans-serif;
    --b-font: '';
}

.footerBar {
    position: fixed;
    background-color: var(--dark);
    display: flex;
    flex-direction: row;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    justify-content: right;
    list-style-type: none;
  }

  .footerContent {
    color: var(--light);
  }