.footerBar {
    background-color: var(--darkBlue);
    display: flex;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    justify-content: right;
    list-style-type: none;
}

.footerContent {
    color: var(--light);
}

.social-icons {
    color: var(--light);
}

a {
    color: var(--light);
}

.icon {
    max-width: 30px;
}
