:root {
  --dark: #0f021d;
  --light: #FBE7C6;
  --gold: #B4F8C8;
  --blue: #A0E7E5;
  --pink: #FFAEBC;
  --h-font: 'Quicksand', sans-serif;
  --b-font: '';
}
.page {
  background-image: linear-gradient(to right, rgb(203, 200, 200), rgb(153, 29, 143));
  height: 100%;
}

.background {
    background-size: cover;
    background-position: center;
    width: 100%;
    margin-top: -20px;
    border-bottom-width: 8px;
    border-color: var(--gold);
  }

  .home-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: var(--dark);
    font-family: var(--h-font);
    font-weight: 600;
    padding-top: 40px;
  }