.background {
  display: flex;
  background: linear-gradient(to bottom, #110B3B, #67264E);
  width: 100%;
}

.avatarContainer {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  max-height: 60%;
}

.aboutMe {
  display: flex;
  flex-direction: row;
  max-width: 60%;
  color: var(--lightPink);
  margin-left: 40px;
}

.aboutMeI {
  color: var(--lightPink);
  margin-left: 40px;
  line-height: 25px;
  max-width: 60%;
}

