.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--darkBlue);
  padding: 20px;
}

.logo {
  display: flex;
  flex-direction: start;
  max-width: 150px;
}

.navUl {
  color: var(--lightPink);
  display: flex;
  list-style: none;
  font-size: 15px;
}