.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--darkblue);
  padding: 20px;
}

.navUl {
  color: var(--lightPink);
  display: flex;
  list-style: none;
}