:root {
    --dark: #211f1f;
    --light: #E9DDD4;
    --gold: #900020;
    --blue: #e9d4e0;
    --pink: #E9DDD4;
    --h-font: 'Quicksand', sans-serif;
    --b-font: '';
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card {
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    margin: 20px;
    color: var(--dark);
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
  }
  
  .card img {
    width: 400px;
    height: 200px;
  }
  
  .card h2 {
    margin: 10px;
    font-size: 25px;
  }
  
  .card p {
    margin: 1px;
    font-size: 15px;
  }
  
  .tags {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    padding: 0;
    list-style: none;
  }
  
  .tags li {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    color: var(--dark);
    font-size: 1rem;
  }
  
  .card a {
    display: block;
    margin: 5px;
    padding: 5px;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    background-color: var(--gold);
  }
  
  .card a:hover {
    background-color: var(--light);
  }