.background-r {
  display: flex;
  flex: wrap;
  flex-direction: column;
  background: linear-gradient(to bottom, #110B3B, #67264E);
  height: 100vh;
}

.h {
  color: var(--lightPink);
  margin-left: 20px;
}

.resume {
    margin-left:20px;
    color: var(--lightPink);
}

li {
  list-style: none;
  color: var(--lightPink);
  margin-left: 20px;
  font-size: 2.5vh;
}

.download {
  font-size: 2.5vh;
  margin-left: 20px;
  text-decoration: none;
}