:root {
    --darkBlue: #110B3B;
    --blue: #36356E;
    --darkPink: #67264E;
    --duskPink: #9A5665;
    --lightPink: #CD9FA2;
    --logoFont: 'Quicksand', sans-serif;
    --bodyFont: '';
  }

html, body {
  height: 100%;
}
